{% extends "base.html" %}
{% block dashboard-leave-application %}
                                    <div>

                                        <div class="float-right text-right">
                                        </div>
                                        <h4>Leave application due to suffering from fever.
                                            <br/>
                                            <small class="m-r"><a href="graph_flot.html">By aaryan </a> </small>
                                        </h4>
                                    </div>
{% endblock %}