{% extends "base.html" %}
{% block dashboard-hr-notice-update%}
                                <div class="ibox-content no-padding">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <p>Attention all employee this is salary increament notice.<a class="text-info" href="#">30-12-2020</a></p>
                                            <small class="block text-muted"><i class="fa fa-clock-o"></i> 1 minuts ago</small>
                                        </li>
                                           <li class="list-group-item">
                                            <p>Attention all employee this is salary increament notice.<a class="text-info" href="#">30-12-2020</a></p>
                                            <small class="block text-muted"><i class="fa fa-clock-o"></i> 1 minuts ago</small>
                                        </li>
                                      
                                    </ul>
                                </div>
{% endblock%}